{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row mt-4">
  <div class="col-lg-12">
    <div class="box-element">
      <a href="{% url 'tienda' %}" class="btn btn-outline-dark">&#x2190; Seguir comprando</a>
      <br><br>
      <table class="table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.producto.nombre }}</td>
              <td>${{ item.precio_unitario }}</td>
              <td>{{ item.cantidad }}</td>
              <td>${{ item.precio_unitario|floatformat:0|add:""|add:item.cantidad|floatformat:0 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <hr>
      <h5>Total: ${{ orden.total }}</h5>

      {% if user.is_authenticated %}
        <a href="{% url 'checkout' %}" class="btn btn-success w-100 mt-3">Proceder al Checkout</a>
      {% else %}
        <a href="#" class="btn btn-secondary w-100 mt-3 disabled">Inicia sesión para continuar</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}