<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Ferremax</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
  	
<!-- // NAVBAR // -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
	<a class="navbar-brand" href="{% url 'tienda' %}">Ferremax</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'tienda' %}">Tienda <span class="sr-only">(current)</span></a>
			</li>
		</ul>
		
		<div class="d-flex align-items-center gap-3">
			<a href="{% url 'login' %}"class="btn btn-warning">Ingresar</a>
			<a href="{% url 'carrito' %}">
				<img  id="cart-icon" src="{% static 'images/cart.png' %}">
			</a>
			{% if cartItems > 0 %}
			<p id="cart-total">{{ cartItems }}</p>
			{% endif %}
		</div>
	</div>
</nav>

<div class="container">
    <br>
    {% block content %}

    {% endblock content %}
</div>


    <!-- // Bootstrap // -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  
</body>
</html>