{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row mb-5">
{% for producto in productos %}
  {% if producto.stock > 0 %}
  
    <div class="col-lg-4">
      <div class="box-element product">
        {% if producto.imagen %}
          <img src="{{ producto.imagen.url }}" class="thumbnail">
        {% else %}
          <img src="{% static 'images/default.png' %}" class="thumbnail">
        {% endif %}
        <h6><strong>{{ producto.nombre }}</strong></h6>
        <p>{{ producto.descripcion|truncatewords:10 }}</p>
        <hr>
        <button class="btn btn-outline-secondary add-btn">Agregar</button>
        <a class="btn btn-outline-success" href="#">Ver</a>
        <h4 style="float: right;">${{ producto.precio }}</h4>
      </div>
    </div>
  
  {% endif %}
{% endfor %}
</div>

{% endblock content %}

