{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center mt-3">
    <div class="col-md-4 box-element">
        <h4 class="text-center mb-4">Recuperar contraseña</h4>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label>Correo electrónico</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-dark w-100">Enviar código</button>
            <a href="{% url 'login' %}" class="btn btn-link  mt-2">Volver al login</a>
        </form>
    </div>
</div>
{% endblock %}